$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$white: #fff;

$container-width: 90%;

$duration: 0.15s;

$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 425px;